body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-family: 'Raleway', sans-serif;
}


.box{
    margin: 0;
    width: 40%;
    padding-bottom: 40%;
    /*height: 250px;*/
    border: 1px solid black;
}